
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#accordionSidebar {
    background-image: url('../img/home.jpg');
    background: -webkit-gradient(linear,left top,left bottom,from(#4f837f),color-stop(75%,rgba(22,22,22,.8)),to(#4f837f)),url(../img/home.jpg);
    background: linear-gradient(to bottom,#4f837f 0,rgba(22,22,22,.8) 75%,#4f837f 100%),url(../img/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
}
