<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDIANXZR7wMkoTZfgwe8bHqrUKbbrkdDg&callback=initMap&libraries=places">
</script>

<div id="map"> </div>

@section Scripts{
    <script type="text/javascript">

        var request;
        var service;
        let btn;
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var labelIndex = 0;
        let markers = [];
        var apikey = 'AIzaSyDDIANXZR7wMkoTZfgwe8bHqrUKbbrkdDg';
        var details = 'https://maps.googleapis.com/maps/api/place/details/json?placeid=';


        function initialize() {
            var mapOptions = {
                zoom: 14,
                center: new google.maps.LatLng(37.975533, 23.735101),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
            }
            //keep a reference to the original setPosition-function
            var fx = google.maps.InfoWindow.prototype.setPosition;
                        // Adds a marker to the map.
            function addMarker(location, map) {
                // Add the marker at the clicked location, and add the next-available label
                // from the array of alphabetical characters.
                var marker = new google.maps.Marker({
                    position: location,
                    label: labels[labelIndex++ % labels.length],
                    map: map
                });
            }
            map = new google.maps.Map(document.getElementById('map'),mapOptions);
            geocoder = new google.maps.Geocoder;
            //override the built-in setPosition-method
/*            google.maps.InfoWindow.prototype.setPosition = function ()*/ {
                if (this.logAsInternal) {
                    google.maps.event.addListenerOnce(this, 'map_changed', function () {
                        var map = this.getMap();
                        //the infoWindow will be opened, usually after a click on a POI
                        if (map) {
                            //trigger the click
                            google.maps.event.trigger(map, 'click', {
                                latLng: this.getPosition()
                            });
                        }
                    });
                }
                fx.apply(this, arguments);
            }
            google.maps.event.addListener(map, 'click', function (e) {
                btn = document.createElement("BUTTON");
                geocoder.geocode({
                    'location': e.latLng
                }, function (results, status) {
                    if (status === google.maps.GeocoderStatus.OK) {
                        if (results[0]) {

                            request = {
                                place_id: results[0].place_id,
                                address: results[0].formatted_address,
                            };
                            console.log(request);
                        } else {
                            console.log('No results found');
                        }
                    } else {
                        console.log('Geocoder failed due to: ' + status);
                    }
                    if (!document.getElementsByClassName('poi-info-window gm-style')[0].contains(document.getElementById('review'))) {
                        document.getElementsByClassName('poi-info-window gm-style')[0].appendChild(btn);
                        btn.innerHTML = "Review";
                        btn.setAttribute("id", "review")
                        btn.onclick=function () { addMarker(e.latLng, map) }
                        }
                });
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}