@{
    ViewBag.Title = "Home";
}

    <!-- Navigation -->
    @Html.Partial("_TopbarUnlogged")
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background:transparent; border:none">
                @Html.Partial("~/Views/Account/Login.cshtml")
            </div>
        </div>
    </div>
    <!-- Register Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background:transparent; border:none">
                @Html.Partial("~/Views/Account/Register.cshtml")
            </div>
        </div>
    </div>

    <!-- Header -->
    <header class="masthead" id="page-top">
        <div class="container d-flex h-100 align-items-center">
            <div class="mr-5 ml-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">WOA</h1>
                <h2 class="text-white mx-auto mt-2 mb-5">Wheel Of Access</h2>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">In Access We Trust</h2>
                <a href="#about" class="btn btn-primary js-scroll-trigger">Learn more</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">You Review We Share</h2>
                    <p class="text-white-50">
                        Wheel of Access is a platform of, mainly building accessibility of shops and points of interest.
                        Its purpose is to record the crucial points of a business through the feedback of customers themselves,
                        with main goal to create an interactive map showing the accessibility of most points of interest.
                    </p>
                </div>
            </div>
            <img src="~/img/ipad2.png" class="img-fluid" alt="">
        </div>
    </section>

    <!-- Map Section -->


    <section id="map2" class="projects-section bg-light">
        <div class="container">

            <!-- Map Row -->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7">
                    @Html.Partial("~/Views/Map/Index.cshtml")
                    @*<img class="img-fluid mb-3 mb-lg-0" src="~/img/mymap2.jpg" alt="">*@
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Our map</h4>
                        <p class="text-black-50 ">
                            Find in our map the best place for you to visit. You can go through all reviews and pick which best fits your needs.
                            If the place you are interested in is not registered, simply register to our platform and be the first to review it!
                        </p>
                        @*<a href=@Url.Action("Login","Account") class="btn btn-primary mx-auto">Start rating</a>
                            <button class="btn btn-primary mx-auto">Start rating</button>*@
                    </div>
                </div>
            </div>


            <!-- Project One Row -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/img/stroller.jpg" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="bg-custom text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">For you</h4>
                                <p class="mb-0 text-white-50">The platform only works with your own input. Every time you visit a place, we encourage you to take 3 ' to recognize and record its accessibility. By completing a simple, online questionnaire you will be able to contribute to the reliable information of those interested.</p>
                                <hr class="d-none d-lg-block mb-0 ml-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Two Row -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/img/steps.jpg" alt="">
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-custom text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">No more surprises</h4>
                                <p class="mb-0 text-white-50">Because the places that are for everyone are not really for everyone. We alone cannot change this, but we can provide all necessary information. With your support, we can become a stand-alone tool for every user planning their evening out, their mate’s party, a Sunday Chinese buffet or a toad.</p>
                                <hr class="d-none d-lg-block mb-0 mr-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>



    <!-- Sigin Section -->
    <section id="signup" class="signup-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center ">
                    <i class="fas fa-star fa-2x mb-2 text-custom"></i>
                    <i class="fas fa-star fa-2x mb-2 text-custom"></i>
                    <i class="fas fa-star fa-2x mb-2 text-custom"></i>
                    <i class="fas fa-star fa-2x mb-2 text-white"></i>
                    <i class="fas fa-star fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Ready to start rating?</h2>

                    <form class="form-inline d-flex">

                        <a class="btn btn-light mx-auto" href="#" data-toggle="modal" data-target="#registerModal">
                            Register
                        </a>
                        <a class="btn btn-light mx-auto" href="#" data-toggle="modal" data-target="#loginModal">
                            Log in
                        </a>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <!-- Who We Are Section -->
    <section id="contact" class="contact-section bg-custom">
        <div class="container text-center">
            <h2 class="m-5 text-white ">Who We Are</h2>
            <div class="row">

                <div class="col-md-6 mb-3 mb-md-0 mt-5">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <img src="/img/foteini.jpg" class="img-about rounded-circle">
                            <div class="mt-5 text-center">
                                <h4 class="text-uppercase m-0">Foteini</h4>
                                <hr class="my-4">
                                <div class="small text-black-50">pipifot@gmail.com</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-3 mb-md-0 mt-5">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <img src="/img/foteini.jpg" class="img-about rounded-circle">
                            <div class="mt-5 text-center">
                                <h4 class="text-uppercase m-0">Eirini</h4>
                                <hr class="my-4">
                                <div class="small text-black-50">eirkostop@hotmail.com</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>
    <!-- Footer -->
    <footer class="bg-custom small text-center text-white-50">
        <div class="container">
            Copyright &copy; Wheel Of Access 2019
        </div>
    </footer>

